header{
  margin-bottom: 100px;
}
.navbar-nav{
  font-size: 1.3em; 
  text-align: center; 
  padding: 0 !important;
}

.offcanvas{
  height: 100%
}

.material-icons{
  color: white;
  margin-left: 25px;
}

.offcanvas-title{
  margin-left: 0px;
}

.offcanvas-body{
  display: flex-center;
}

.btn-light{
  font-size: 1em; margin-top: 115%;
}

.card{
  padding: 0;
}